@font-face {
    font-family: pencilPete;
    src: url(/assets/Pencilpetefont-844B.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: pencilPete;
    color: white;
}

body{
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: fit-content;
}

.upElements, .downElements{
    display: flex;
    justify-content: space-between;
}

.downElements{
    position: fixed;
    bottom: 1px;
}

.border{
    width: 35vw;
}

.upElements #hr{
    transform: scaleX(-1);
}

.downElements .border{
    transform: scaleY(-1);
    position: fixed;
    bottom: 10px;
}

.downElements #fr{
    transform: scaleY(-1) scaleX(-1);
    right: 0px;
    
}

@media (min-width: 500px) {
    .border{
        width: 30%;
    }
}

@media (min-width: 750px) {
    .border{
        width: 25vw;
    }
}

@media (min-width: 1000px) {
    .border{
        max-width: 20vw;
    }
}